``/
/node_modules
/.env
/backend/routes/posts.js     
/backend/routes/users.js
/backend/models/Post.js
/backend/controllers/postController.js
/backend/controllers/userController.js  
/backend/routes/posts.js
/readme.md
/frontend/src/components/Navbar.jsx
/frontend/src/components/PostForm.jsx
/frontend/src/components/PostList.jsx
/frontend/src/components/Profile.jsx
/frontend/src/pages/Login.jsx  
/frontend/src/styles/Register.css
/frontend/src/styles/Navbar.css
/frontend/src/styles/Login.css
/frontend/src/styles/Profile.css
/frontend/src/styles/Posts.css
/frontend/src/styles/PostForm.css
/frontend/src/styles/PostList.css   
/frontend/node_modules
/frontend/eslint.config.js
/frontend/README.md
/frontend/vite.config.js
