``/
/node_modules
/.env
/frontend
/backend/routes/posts.js     
/backend/routes/users.js
/backend/models/Post.js
/backend/controllers/postController.js
/backend/controllers/userController.js  
/backend/routes/posts.js
/readme.md